---
---

<html>
  <body>
    <h1>About Me</h1>

    <p>
      Heyy, I'm Pratheek P.
    </p>

    <p>
      I am an MS by Research student at IIIT Bangalore
      working on applying Formal methods to check for Regulatory Compliance in systems.
    </p>

  </body>
</html>